{%extends 'parent.html'%}
    {%block users%}
        <p>{{session.who}}</p>
        <a class="btn btn-primary col-1 float-start m-5" href="/new">
            <i class="bi bi-door-open"></i>
        </a>
        <a class="btn btn-primary col-1 float-start m-5" href="/short">
            Shortlist
        </a>
        <div class="d-flex flex-row flex-nowrap overflow-auto p-4 bg-warning">
            {%for x in every%}
                <div class="col-lg-4 col-md-6 col-sm-12 card bg-success text-light p-3 me-3 shadow">
                    <h1 class="card-title display-5 text-center">{{x.person}}</h1>
                    <div class="card-body">
                        <p class="display-6 card-text text-uppercase float-start">{{x.role}}</p>
                        <p class="display-6 card-text float-end">{{x.experience}}</p>
                        <hr color="white" width="100%"/>
                    </div>
                    <div class="card-body">
                        <p class="display-6 card-text float-start">{{x.ctc}}</p>
                        <p class="display-6 card-text float-end">{{x.expected}}</p>
                        <hr color="white" width="100%"/>
                        <a class="btn btn-outline-info float-start" href="/update/{{x.id}}">
                            <i class="bi bi-box-arrow-in-right"></i>
                        </a>
                        <a class="btn btn-outline-dark float-end" href="/delete/{{x.id}}">
                            <i class="bi bi-trash2-fill"></i>
                        </a>
                    </div>
                </div>
            {%endfor%}
        </div>
    {%endblock users%}